<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="src.lib.src">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="21" />

    <application android:label="Bazel for Android">

        <activity
                android:name=".MyActivity"
                android:theme="@android:style/Theme.Dialog"
                android:screenOrientation="unspecified"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
                android:name="androidx.startup.InitializationProvider"
                android:authorities="${applicationId}.androidx-startup"
                android:exported="false"
                tools:node="merge"
                tools:replace="android:authorities"/>

    </application>
</manifest>